.photo{
    width:auto;
    height:100vh; 
    background-image: url("https://img.freepik.com/premium-photo/blue-stethoscope-with-telemedicine-concept-3d-illustration-rendering_521740-736.jpg?size=626&ext=jpg&ga=GA1.1.1172006853.1685424020&semt=ais");
    background-repeat:no-repeat ;
    background-size: cover; 
}

.navbar{
    display: flex;
    border: 1px solid white;
    background-color: #6bbcbd;
 }
 
 .home{
    margin-left: 1080px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
 }
 .doctor{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .lab{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .medicine{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .signup{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
.logo{
    margin-left: 80px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

.text{
    font-size: 40px;
    margin-left: 100px;
    color: rgb(21, 21, 23);
    margin-top: 380px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.paragraph{
    font-size: 20px;
    color: rgb(21, 21, 23);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.button{
     height:50px;
    width:200px; 
    background-color: #6bbcbd;
    margin-left: 100px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.card{
    height:600px;
    width:1200px;
    margin-left: 320px;
    margin-top: 40px;
}
.small-part{
    display: flex;
    margin-top: 10px;
}
.small-symbol img{
    height:150px;
    width:150px;
    margin-left: 60px;
    margin-top: 30px;
}
h3{
    margin-top: 40px;
}
.section-heading{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video-layout{
    width:100%;
    height:600px;
    margin-top: 5px;
    background-color: rgb(132, 189, 189);
}
.video{
    height:70%;
    width:60%;
    margin-left: 350px;
    margin-top: 90px;
}
.footer{
    width: 100%;
    height:400px;
    border: 1px solid black;
  
}

#smallcards div {
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: rgba(194, 219, 226, 0.838) 0px 2px 8px 0px;
    
 }
 #smallcards div:hover {
   transform: scale(1.04);
}

#smallcards div {
   text-align: center;
   padding: 20px;
   margin-left: 30px;
}
#smallcards {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
 }
 .card3{
    height:250px;
    width:250px;
    border-radius: 10px;
 }
 .logos img{
    height:50px;
    width:50px;
    border-radius: 50px;
    margin-top: 10px;
 }
 .logo1{
    display: flex;
 }
  .facebook{
    margin-left: 30px;
 }
 .insta{
    margin-left: 20px;
 }
 .twitter{
    margin-left: 20px;
 } 
 .h1{
    color:whitesmoke;
 }
 .p{
    color:whitesmoke;
 }
 .location{
    height:200px;
    width:500px;
    margin-left: 200px;
    margin-top: 50px;
 }
 .logos{
    height:200px;
    width:500px; 
    margin-top: 50px;
 }
 .about{
    height:300px;
    width:500px; 
    margin-top: 50px;
 }
 .footer{
    width: 100%;
    height:300px;
    background-color: black;
    display: flex; 
    margin-top: 5px; 
}
.small-symbol{
    height:280px;
    width:300px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.small-symbol:hover{
    transform: scale(1.04);

}
.small-symbol p{
    font-size: 15px;
    text-align: center;
}
#first{
    margin-left: 130px;
}
 



