.navbar{
    display: flex;
    border: 1px solid white;
    background-color: goldenrod;
}

.home{
    margin-left: 730px;
    margin-top: 20px;
}
.doctor{
    margin-left: 100px;
    margin-top: 20px;
}

.lab{
    margin-left: 100px;
    margin-top: 20px;
}

.medicine{
    margin-left: 100px;
    margin-top: 20px;
}

.signup{
    margin-left: 100px;
    margin-top: 20px;
}
.logo{
    margin-left: 80px;
    margin-top: 20px;
}
.first-lab{
    height:600px;
    width:auto;
    display: flex;
}
.baby-video{
    height:500px;
    width:45%;
    margin-top: 50px;
    margin-left: 46px;
}
.first-text{
    height:500px;
    width:46%;
    margin-top: 35px;
    margin-left: 70px;
   
}
.first-image image{
    height:100%;
    width:100%;
}
.lab1details{
    font-size: 20px;
}
.learn{
    height:40px;
    width:150px;
    background-color: goldenrod;
    border-radius: 5px;
    border:none;
    margin-top: 12px;   
}
.second-lab{
    height:600px;
    width:auto;
    display: flex;
}
 .second-text{
    height:500px;
    width:45%;
    margin-top: 20px; 
    margin-left: 46px;
    
} 
.lab2details{
    font-size: 20px;
}
.learn1{
    height:40px;
    width:150px;
    background-color: goldenrod;
    border-radius: 5px;
    border:none;
    margin-top: 12px; 
    
} 
.mri-video{
   width: 843px;
   height: 500px;
   margin-top: -23px;
   margin-left: 5px;
  
}
.second-video{
    height:500px;
    width:46%;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 10px;    
}