.navbar{
    display: flex;
    border: 1px solid white;
    background-color: #6dedef;
 }
 
 .home{
    margin-left: 1080px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
 }
 .doctor{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .lab{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .medicine{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .signup{
    margin-left: 50px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
 
 .logo{
    margin-left: 30px;
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
 }
.logos img{
    height:50px;
    width:50px;border-radius: 50px;
    margin-top: 10px;
 }
 .logo1{
    display: flex;
 }
  .facebook{
    margin-left: 30px;
 }
 .insta{
    margin-left: 20px;
 }
 .twitter{
    margin-left: 20px;
 } 
 h1{
    color:whitesmoke;
 }
 p{
    color:whitesmoke
 }
 .location{
    height:200px;
    width:500px;
    margin-left: 200px;
    margin-top: 50px;
 }
 .logos{
    height:200px;
    width:500px; 
    margin-top: 50px;
 }
 .about{
    height:300px;
    width:500px; 
    margin-top: 50px;
 }
 .footer{
    width: 100%;
    height:300px;
    background-color: black;
    display: flex; 
    margin-top: 5px; 
}
.main-section{
    height:500px;
    width:auto;
    border:1px solid black; 
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size:cover; 
    background-image: url("https://media.istockphoto.com/id/1171958998/vector/caduceus-background.jpg?s=612x612&w=0&k=20&c=yKp-WUul0acuTGrQd3TfLPwscCl1-5ahEBwv-GPVsMk="); 
}
.medical-search{
    display: flex;
}
.medical-button{
    height:40px;
    width:40px;
    margin-top: 30px;
    border:1px solid black;
    margin-left: 5px;
}
.medical-button img{
    height:30px;
    width:30px;
}
.medical-search input{
    height:37px;
    width:350px;
    margin-left: 600px;
    margin-top: 30px;
}
.part1{
    height:300px;
    width:95%;
    /* border:1px solid black; */
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.small-section{
    height:280px;
    width:240px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 10px;
    margin-left: 42px;
    /* border: 1px solid black; */
}
.small-section:hover{
    transform: scale(1.04);
}
.small-section img{
    height:230px;
    width:230px;
}
.small-section p{
    color:black;
    text-align: center;
}
.heading{
    margin-left: 50px;
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
