.Name{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 600px;
    color: white;
    margin-top: 10px;

}
.phone{
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.exp{
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.address{
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}


.img{
    height:300px;
    width:300px;
    border:1px solid black;
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 10px;
} 
.nav{
    height:100px;
    width:auto;
    border:1pc solid rgb(194, 188, 188);
}
.navbar{
    display: flex;
    border: 1px solid white; 
    background-image: linear-gradient(to left, #08162a, #00243a, #00323b, #003e2c, #134811);
    height: 100px;
    width: 100%;
    color:white;
 }
 
 .home{
    margin-left: 980px;
    margin-top: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 34px;
    color:white;
 }
 .Doctor{
    margin-left: 50px;
    margin-top: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: black;
    color:white;
    
 }
 
 .lab{
    margin-left: 50px;
    margin-top: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: black;
    color:white;
 }
 
 .medicine{
    margin-left: 50px;
    margin-top: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: black;
    color:white;
 }
 
 .signup{
    margin-left: 50px;
    margin-top: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: black;
    color:white;
 }
 .logo{
    margin-left: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50px;
    height:80px;
    width:200px;
    margin-top: 10px;
}
.display{
    display: flex;
    background-color: rgb(66, 161, 115);
    padding-bottom: 50px;
   
}
.small{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    background-color: #5186a8;
    height: 5500px;
}
 .doctor{
    width: 1500px;
   
    
  
 }
 .special-sec{
    height:600px;
    width:400px;
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
    
    
    
 }
 .card-part{
    height:650px;
    width:550px;
    border:10px solid rgb(187, 231, 146);
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(71, 167, 184);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

    
 }

.img{
    margin-left: 115px;
    height:300px;
    width:300px;
}
.text{
  margin-left: -400px;
    font-size: 10px;
    margin-top:-290px;
    
} 

.search-input img{
    height:40px;
    width:40px;
    
 }
 .search-button{
    height:55px;
    width: 60px;
    border:1px solid black;
    border-radius: 10px; 
    margin-left: 10px;
    margin-top: 50px;
    background-color: white;
 }
 .search-input{
    display: flex;
 }
 .search-input input{
    height:50px;
    width:300px;
    margin-top:50px;
    font-size: 20px;
    margin-left: 800px;
    border-radius: 10px;
 }
.select{
    height:50px;
    width:300px;
    margin-top: 150px;
    margin-left: -350px;
    font-size: 25px;
    border-radius: 10px;
    background-color: white;
}

 .first-button{
    height:45px;
    width:200px;
    background-color: #ebf4f9;
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 10px;
} 
.sec-button{
    height:45px;
    width:200px;
    background-color: #ebf4f9;
    margin-top: 260px;
    margin-left: 12px;
    border-radius: 10px;
} 
